*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.navigation/
*.log
*.hprof
google-services.json
# keystore is intentionally committed for consistent signing
